<div class="container">
    <mat-form-field class="full-width">
            <input matInput #termino (keyup)="buscar(termino.value)" type="text" class="form-control" placeholder="Buscar..." >
    </mat-form-field>
    <div style="width: 100%;" >
        <mat-spinner style="margin:0 auto;" *ngIf="loading"></mat-spinner>
    </div>    
    <div *ngIf="!loading" class="container">
        <div class="results results-artists">
            <p *ngIf="artists.length == 0"> No hay resultados </p>
            <app-artista *ngFor="let artist of artists" [artista]="artist"></app-artista>
        </div>
        <div class="results results-tracks">
            <p *ngIf="tracks.length == 0"> No hay resultados </p>
            <app-track *ngFor="let track of tracks" [item]="track"></app-track>
        </div>
    </div>   
    
</div>