.full-width {
    width: 100%;
    padding: 0 10px 0 10px;
    margin: auto;
}

.results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.results-tracks{
    width: 50%;
    flex-grow: 1;
}

.results-artists{
    width: 50%;
    flex-grow: 1;
}